body {
	background-color: #545454;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.container {
	padding: 2em;
	margin: 0 auto;
	height: 100%;
}

.labels {
	background-color: #545454;
	width: 40%;
	float: left;
	margin: 0 auto;
	padding: 1em;
	color: #FFFFFF;
}

.fa-list-alt {
	margin-right: 10px;
}

.fa-building-o {
	margin-right: 16px;
}

.labels h1 {
	font-size: 3em;
}

.labels h3 {
	font-size: 1.8em;
	font-weight: 300;
	margin: 15px 0;
	padding: 5px 15px;
}

.labels h5 {
	font-weight: 300;
}
.addStores {
	color: #31B573;
}

.items {
	background-color: #FFFFFF;
	width: 50%;
	min-height: 350px;
	float:left;
	border-radius: 10px;	
	padding: 1em;
}

@media only screen and (max-width: 845px) {
	.labels {
		width: 90%;
	}
	.items {
		width: 90%;
	}
}

.top-bar ul {
	width: 100%;
}

.top-bar li {
	display: inline-block;
}

.top-bar li:first-child {
	width: 95%;
}

.top-bar input {
	border: none;
	font-size: 1em;
}

.top-bar input:focus {
	outline:0;
}

.fa-search {
	margin-right: 10px;
}

.items .quickAdd {
	color: #545454;
	float: left;
}

.items hr {
	margin-top: 20px;
}
.items h3 {
	color: #31B573;
}

.listItems li {
	margin: .5em 0;
}

.listItems input {
	margin-right: 5px;
}

input.notDone {
	text-decoration: line-through;
}



