body {
	background: #545454;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-image: url('../images/ZenBG.png');
}

.container {
	padding: 2em;
	margin: 0 auto;
	height: 100%;
}

.labels {
	width: 40%;
	float: left;
	margin: 0 auto 45px auto;
	padding: 1em;
	color: #FFFFFF;
}

.labels h1 {
	font-size: 3em;
}

.labels p {
	margin: 15px 0;
}

@media only screen and (max-width: 395px) {
	.labels h1 {
		font-size: 2em;
	}

	.labels p {
		font-size: .8em;
	}
}

.textEnter {
	float: left;
	height: 2em;
	width: 100%;
}

.textEnter ul {
	margin-bottom: 5px;
}

.textEnter li {
	display: inline-block;
	width: 45%;
	margin: 5px auto;
}

.textEnter li:first-child {
	margin-right: 25px;
}

.textEnter input {
	height: 2em;
	border-radius: 5px;
	outline: 0;
	font-size: 0.8em;
}

.clearButton button {
	height: 3em;
	border-radius: 5px;
	min-width: 145px;
	outline: none;
	background-color: #FFFFFF;
	text-align: left;
	padding: 4px;
	font-size: .7em;
}

.items {
	background-color: #FFFFFF;
	width: 50%;
	min-height: 350px;
	float:left;
	border-radius: 10px;	
	padding: 1em;
}

@media only screen and (max-width: 845px) {
	.labels {
		width: 90%;
	}
	.items {
		width: 90%;
	}
}

#listItems {
	text-align: center;
	vertical-align: center;
	font-size: 1.2em;
}

#listItems li {
	text-align: center;
	margin-bottom: 2px;
	height: 28px;
	width: 100%;
	padding-top:8px;
}

#listItems li:hover {
	cursor: pointer;
}

#listItems li:nth-child(odd){
	background-color: #EDEDED;
}
.fa-check,
.fa-trash {
	width: 50px;
	color: #FFFFFF;
	height: 28px;
	padding-top: 7px;
	margin-top: -8px;
}

.fa-check {
	float: left;
	background-color: #31B573;
}

.fa-trash {
	float: right;
	background-color: red;
}

.fa-check:hover,
.fa-trash:hover {
	color: #696969;
}

.done {
	opacity: 0.5;
}
